<div class="modal-dialog__content">
  <p class="u-spacer--tiny">
    Execute roadsign-regulation
    <br>
    <strong>Do you want to add a traffic sign regulation?</strong>
  </p>
</div>
<div class="modal-dialog__footer">
  <AuButtonGroup>
    <AuButton {{on "click" this.toggleModal}}>
      Yes
    </AuButton>
  </AuButtonGroup>
</div>
<RoadsignsModal @modalOpen={{this.modalOpen}} @closeModal={{this.toggleModal}}/>